.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  gap: 1.6em;
  width: 60%;
}
@media screen and (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    width: 90%;
  }
}
